* {
    padding: 0px;
    margin: auto;
}

.left {
    background: gray;
    height: 100px;
    color: black;
    font-size: 30;
    justify-content: left;
    align-content: left;
    align-items: center;
    display: flex;
}